# MacOS
.DS_Store

# Compiled
__pycache__/

# Datasets
datasets/raw/**/*
!datasets/raw/**/
!datasets/raw/**/README.md

datasets/raw_cache/**/*
!datasets/raw_cache/**/
!datasets/raw_cache/**/README.md

datasets/processed/**/*
!datasets/processed/**/
!datasets/processed/**/metadata.json
!datasets/processed/**/checksums.txt

datasets/cache/**/*
!datasets/cache/**/

# Keep placeholder directories
!datasets/**/.gitkeep


# Build artifacts
build/
dist/
*.egg-info/
*.so
*.pyd
*.o
